<div class="d-flex justify-content-center">
  <div class="col-box">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "New password (#{@minimum_password_length} characters minimum)" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm new password" %>
      </div>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current password to confirm your changes" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "btn btn-success full-width-btn" %>
      </div>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="col-box">
    <h2>Cancel my account</h2>
    <!-- Unfortunately doesn't work with turbo-->
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo: false }, method: :delete, class: "btn btn-danger full-width-btn" %>
  </div>
</div>
