<div class="wrapper col-box">
  <h1>Create tournament</h1>


  <%= form_with url: tournaments_path, method: :post do |form| %>
    <%= form.text_field :name, placeholder: "Namn", required: true %>

    <%= form.select :user_ids, User.pluck(:username, :id), {}, {multiple: true, include_blank: false, data: {controller: "slim"}} %>

    <%= form.number_field :rounds, min: 1, value: 1 %>
    <%= form.submit "Create" %>
  <% end %>
</div>
