<div class="col-lg-4">
  <div class="col col-box">
    <%= render "welcome/partials/winning_rate" %>
  </div>
</div>

<div class="col-lg-4">
  <div class="col col-box">
    <%= render "welcome/partials/trophies" %>
  </div>
</div>

<div class="col-lg-4">
  <div class="col col-box">
    <%= render "welcome/partials/goal_difference" %>
  </div>
</div>

<div class="col-lg-6" style="margin-top: 10px;">
  <div class="col col-box">
    <%= render "welcome/partials/latest_game" %>
  </div>
</div>

<div class="col-lg-6" style="margin-top: 10px;">
  <div class="col col-box">
    <%= render "welcome/partials/latest_tournament" %>
  </div>
</div>