<h1>Welcome back, <%= current_user.username %>!</h1>

<div class="d-flex justify-content-between">
  <div style="width: 300px;" class="col-box">
    <%= render "welcome/partials/profile" %>
  </div>

  <div style="width: calc(100% - 320px);">
    <%= render "welcome/partials/tabs" %>
  </div>
</div>


<!--
  <div class="d-flex justify-content-center">
    <%= link_to "Create tournament", "#", class: "btn btn-primary" %>
    <%= link_to "Create game", "#", class: "btn btn-secondary" %>
  </div>
-->

<!--
  <div class="row">
    <div class="col-lg-4 no-padding-left">
      <div class="col col-box latest-game">
        <h5>Latest game</h5>
        <hr />

        <div class="row no-margin">
          <div class="col-2 score">
            <p>3</p>
          </div>

          <div class="col-10 team" style="align-items: center">
            <p>perjespersson</p>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-2 score">
            <p>1</p>
          </div>

          <div class="col-10 team">
            <p>fjunemeister</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="col col-box">
        <h5>Latest Tournament</h5>
        <hr />

        <p>0 - 3</p>
      </div>
    </div>

    <div class="col-lg-4 no-padding-right">
      <div class="col col-box">
        <h5>Latest Tournament</h5>
        <hr />

        <p>0 - 3</p>
      </div>
    </div>
  </div>
  -->

<!--
  <div class="row" style="background-color: var(--light-green)">
    <h3>THIS IS A TEST</h3>
    <h4>THIS IS A TEST</h4>
    <h3>THIS IS A TEST</h3>
    <h4>THIS IS A TEST</h4>
  </div>
  -->
